.componentContainer_urlHandler {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 90vw;
  margin: 10px auto;
  border-radius: 5px;
  background-color: white;
}

.urlHandler_resultHandler {
  display: flex;
  flex-flow: column;
  padding: 15px 10px;
}

.resultHandler_link {
  text-decoration: none;
  color: var(--cyan);
}

.urlHandler_label {
  padding: 10px 10px;
}
