.componentContainer_inputHandler {
  background-color: var(--darkViolet);
  background-image: url(../assets/bg-shorten-mobile.svg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-flow: column;
  align-items: stretch;
  gap: 20px;
  padding: 25px 20px;
  width: 90vw;
  margin: 10px auto;
  box-sizing: border-box;
  border-radius: 10px;
}

.componentContainer {
  position: relative;
  top: 35vh;
}
