.footerSection {
  background-color: hsl(260, 8%, 14%);
  display: flex;
  flex-flow: column;
  gap: 20px;
}

.footerSection_infoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.infoContainer_h1 {
  color: hsl(0, 0%, 75%);
}

.infoContainer_span {
  display: block;
  color: hsl(257, 7%, 63%);
}

.footerSection_media {
  display: flex;
  gap: 20px;
  padding: 20px;
}
