@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap");

:root {
  --cyan: hsl(180, 66%, 49%);
  --darkViolet: hsl(257, 27%, 26%);
  --red: hsl(0, 87%, 67%);

  --gray: hsl(0, 0%, 75%);
  --grayishViolet: hsl(257, 7%, 63%);
  --veryDarkBlue: hsl(255, 11%, 22%);
  --veryDarkViolet: hsl(260, 8%, 14%);
}

* {
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  padding: 0px;
  margin: 0px;
}

h1 {
  font-size: 22px;
}

input {
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
}
